.div-title{
    width: 100%;
    text-align: center;
}
.ion-text-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 6vw;
}

ion-select{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 4vw;
}

ion-item{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#05067e; 
    font-size: 4vw; 
}

.div-information{
    margin: auto;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;   
}

.div-ion-text-information{
    width:100%;
    margin: auto;
    text-align: center;
}

.ion-text-information{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 4vw;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
  }