<br/>
<ion-list>
  <ion-item>
    <ion-select Placeholder="Sélectionner un bateau" [ngModel]="bateau" (ngModelChange)="change(bateau)">
      <ion-select-option type="bateau" value="bateau1">Corto-Maltesse</ion-select-option>
      <ion-select-option type="bateau" value="bateau2">Saphir</ion-select-option>
      <ion-select-option type="bateau" value="bateau3">Brise</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<br/>
<ion-card>
  <img src="../../../assets/images/Saphir.jpg">
  <div class="div-ion-text-information">
    <ion-text class="ion-text-title-information">Aquilon</ion-text>
    <br/>
    <br/>
    <ion-text class="ion-text-information">
      Qu'il est chaud le soleil 
      <br/> Quand nous sommes en vacances 
      <br/> Y'a d'la joie, des hirondelles 
      <br/> C"est le sud de la France 
      <br/> Papa bricole au garage 
      <br/> Maman lit dans la chaise longue 
      <br/> Dans ce joli paysage 
      <br/> Moi, je me balade en tong
    </ion-text>
  </div>
</ion-card>




