<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
  <!-- <app-poissons *ngIf="category===0"></app-poissons>
  <app-crustaces *ngIf="category===1"></app-crustaces>
  <app-coquillages *ngIf="category===2"></app-coquillages>
  <app-promotions *ngIf="category==='Promotions'"></app-promotions> -->
  <div class="div_title">
    <ion-text class="title" *ngIf="category === '0'">
      Poissons
    </ion-text>
    <ion-text class="title" *ngIf="category === '1'">
      Crustacés
    </ion-text>
    <ion-text class="title" *ngIf="category === '2'">
      Coquillages
    </ion-text>
    <ion-text class="title" *ngIf="category === 'Promotions'">
      {{category}}
    </ion-text>
  </div>

  <br/>

  <ion-grid>
    <div *ngFor="let produit of produits">
    <ion-row>
        <ion-col *ngIf="produit.category === numberCategory">
          <ion-grid style="background-color: chartreuse;">
            <ion-row>
              <ion-col class="ion-col_img">
                <img (click)="addToCart(produit)"  class="img" src="../../../assets/icon/bar-icone.png">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-col_texte">
                <div class="nom"><b>{{produit.name}}</b></div>
                <div class="quantite" *ngIf="produit.quantity">{{produit.quantite}}</div>
                <div class="prix">{{produit.price}}€/{{produit.unit}}</div>
                <ion-select #quantitySelect [ngModel]="quantitySelect.value" (ionChange)='quantityChange(quantitySelect.value,produit)' Placeholder="Sélectionner une quantité" interface="action-sheet">
                  <ion-select-option *ngFor="let quantity of quantitySelected;" [value]="quantity">{{ quantity }}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col *ngIf="produit.discount && category==='Promotions'">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-col_img">
                <img class="img" src="../../../assets/icon/{{ produit.image }}">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-col_texte">
                <div class="nom"><b>{{produit.name}}</b></div>
                <div class="quantite" *ngIf="produit.quantity">{{produit.quantite}}</div>
                <div class="prix-barrer">{{produit.price}}€/unité</div>
                <div class="prix-promotions">{{produit.discount}}€/unité</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
    </ion-row>
    </div>
  </ion-grid>
</ion-content>


<ion-footer class="ion-no-border">
    <ion-grid class="footer-grid">
        <ion-row class="row-container">
            <ion-col class="col-container">
                <img src="../../../assets/icon/poisson-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 0]">
            </ion-col>
            <ion-col class="col-container">
                <img src="../../../assets/icon/coquillage-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 1]">
            </ion-col>
            <ion-col class="col-container">
                <img src="../../../assets/icon/homard-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 2]">
            </ion-col>
            <ion-col class="col-container">
                <img src="../../../assets/icon/promo-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 'Promotions']">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
