<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
  <app-poissons *ngIf="category==='Poissons'"></app-poissons>
  <app-crustaces *ngIf="category==='Crustacés'"></app-crustaces>
  <app-coquillages *ngIf="category==='Coquillages'"></app-coquillages>
  <app-promotions *ngIf="category==='Promotions'"></app-promotions>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-grid class="footer-grid">
        <ion-row class="row-container">
            <ion-col class="col-container">
                <img src="../../../assets/icon/poisson-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 'Poissons']">
            </ion-col>
            <ion-col class="col-container">
                <img src="../../../assets/icon/coquillage-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 'Coquillages']">
            </ion-col>
            <ion-col class="col-container">
                <img src="../../../assets/icon/homard-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 'Crustacés']">
            </ion-col>
            <ion-col class="col-container">
                <img src="../../../assets/icon/promo-icone.png" class="btn-categorie" [routerLink]="['/categorie-produit', 'Promotions']">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
