.ion-content {
    background-color: #e4e7f6 !important;
}

.btn-categorie{
    //padding-top: 1%;
    max-height:60px;
    background-color: transparent !important;
  }
  .egal3{
    width:80%
  }
  .egal4{
    width:70%
  }

  //INSIDE

  .background{
    background-color: #e4e7f6;
  }

  .div_title{
    text-align: center;
    width: 100%;
  }

  .title {
    margin-top:5%;
    font-size: 35px;
    text-align:center;
    color: var(--ion-color-primary); 
  }

  .container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Trebuchet MS';
    text-align: center;
    
  }
  
  .card{
      width: 100%;

  }
  .nom{
    margin-left: 1%;
    font-size: 2vh;
  }
  .quantite{
    margin-left: 1%;
    font-size: 2vh;
  }
  
  .prix{
    margin-left: 1%;
    font-size: 2vh;
    /*text-decoration:line-through blue;*/
  }
  
  .prix-barrer{
    margin-left: 1%;
    color: var(--ion-color-primary); 
    text-decoration:line-through var(--ion-color-primary);
  }
  .prix-promotions{
    color:red;
  }
  
  img{
    width: 50%;
  }
  
  .ion-col_img{
    height: 100px;
    text-align: center;
  }
  
  .ion-col_texte{
    height: 75px;  
    text-align: center;
    color: var(--ion-color-primary); 
    font-family:'Trebuchet MS';
    font-size: 18px;
  }
  
  .img{
    width: 80px;
  }

  
ion-footer {
  height: 15%;
  background: url(../../../assets/images/BT_Produits.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-grid {
  height: 100%;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.col-container {
  text-align:center;
  max-height:15%;
  margin-bottom:10%;
}

.toaster{
  text-align: center;
  font-size: 200px;
}


ion-list{
  width: 80%;
  margin:auto;
  padding: 0px;
}

ion-select{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2vh;
  font-style: italic;
  justify-content: center;
}

ion-select::part(placeholder) {
  color: #05067e; opacity: 1;
  border: none;
} 


ion-item{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#05067e; 
  font-size: 2vh; 
  --border-color: #05067e; 
  --ion-background-color:#e4e7f6;
}

.ion-button-produit{

}