<p>
  Crustacés
</p>
<div class="container">
  <div class="card">        
    <img src="../../../assets/poissons.JPG">
    <div class="nom"><b>Thon</b></div>
    <div class="quantite">quantite: 1</div>
    <div class="prix">prix: 2,50€/unité</div>
  </div>
  <div class="card">        
    <img src="../../../assets/poissons.JPG">
    <div class="nom"><b>Thon</b></div>
    <div class="quantite">quantite: 1</div>
    <div class="prix">prix: 2,50€/unité</div>
  </div>
</div>
<div class="container">
  <div class="card">        
    <img src="../../../assets/poissons.JPG">
    <div class="nom"><b>Thon</b></div>
    <div class="quantite">quantite: 1</div>
    <div class="prix">2,50€/unité</div>
  </div>
  <div class="card">        
    <img src="../../../assets/poissons.JPG">
    <div class="nom"><b>Thon</b></div>
    <div class="quantite">quantite: 1</div>
    <div class="prix">2,50€/unité</div>
  </div>
</div>
<ion-footer>
  <div class="image">
    <button [routerLink]="['/categorie-produit', 'Poissons']"><img src="../../../assets/images/poisson.png"></button>
    <button [routerLink]="['/categorie-produit', 'Coquillages']"><img src="../../../assets/images/coquillages.png"></button>
    <button [routerLink]="['/categorie-produit', 'Crustacés']"><img src="../../../assets/images/homard.png"></button>
    <button [routerLink]="['/categorie-produit', 'Promotions']"><img src="../../../assets/images/promo.png"></button>
  </div>

</ion-footer>