<ion-toolbar>
    <ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-col size="1">
                    <ion-menu-button class="menu-button" menu="first"></ion-menu-button>
                </ion-col>
                <ion-col size ="10" class="col-title">
                    <div class="title-container" *ngIf="!isHomeRoute()"><img alt="logo" class="img_header" src="../../assets/images/BT_Logo.png" /><img class="title" src="../../assets/svg/Titre.svg" /></div>
                </ion-col>
                <ion-col size="1">
                    <ion-button [routerLink]="['/panier']" class="panier-button"><ion-icon slot="icon-only" class="icon-cart" name="cart-outline"></ion-icon></ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-buttons>
</ion-toolbar>
