
.menu-button{
    color:white;
    position: absolute;
    top:50%;
    left: 0;
    width: 60px;
    transform: translateY(-50%);
}

.panier-button{
    color:white;
    position: absolute;
    top:50%;
    right: 0;
    width: 60px;
    transform: translateY(-50%);
}

.icon-cart{
    color:white;
}

.col-title{
    text-align: center;
}

.img_header{
    width: 18px;
}

.title {
    margin-left:10px;
    height: 3vh;
}


// Small devices (landscape phones, 375px and up)
@media (min-width: 375px) { 
    .div_title{
        font-size: 24px;
    }
    
    .img_header{
        width: 24px;
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .div_title{
        font-size: 32px;
    }
    
    .img_header{
        width: 32px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .div_title{
        font-size: 40px;
    }
    
    .img_header{
        width: 40px;
    }
 }