.background{
  background-color: #e4e7f6;
}
p {
  padding-top: 5%;
  font-size: 35px;
  line-height: 22px;
  text-align:center;
  color: blue;
  font-family: "Savoye LET";

  margin: 0;
}
.container{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  font-family:'Trebuchet MS';
  text-align: center;
  
}

.card{
    width: 100%;
    color:blue;
}
.nom{
  margin-left: 1%;
}
.quantite{
  margin-left: 1%;
}

.prix{
  margin-left: 1%;
  /*text-decoration:line-through blue;*/
}
.prix_promotions{
  color:red;
}