ion-content {
    --background: url(../../assets/images/BT_Panier.png) no-repeat center/cover fixed;
}

.panier-list {
    border-color : transparent !important;
    background: transparent !important;
    padding : 10px;
    margin-bottom:15px;

    .panier-item {
        --background: inherit;
        color : white;
    }
}

.card-row {
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 100%;
    text-align: center;
}

.select-container {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text {
    font-size : 12px;
}

.price {
    padding: 10px;
    color: white;
    text-align: center;
}

.valider-button {
    --background: #fe881c;
    width: 100px;
    height :25px;
}

ion-footer {
    height :15%;
    background-color: #e4e7f6 !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.total-container {
    margin-left: 10px;
}


.footer-grid {
    width: 100%;
}

.row-container {
    align-items: center;
    justify-content: center;
}

.total-container {
    text-align : center;
}

.site-container {
    text-align: center;
}

