<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
    <ion-list class="panier-list" *ngIf="panier">
        <ion-item class="panier-item" *ngFor="let item of panier.products;">
            <ion-card class="card-container" *ngIf="item.quantity">
                <ion-grid class="card-grid">
                    <ion-row class="card-row">
                        <ion-col size="7" class="ion-align-self-left">
                            <div class="col-container">
                                <h3>{{ item.name }}</h3>
                                <!-- <p>Quantité : {{ item.quantity }}</p> -->
                            <ion-row class="select-container">
                                <ion-label>Quantité: </ion-label>
                                <ion-select #quantitySelect [ngModel]="quantitySelect.value" (ionChange)='quantityChange(quantitySelect.value,item)'
                                            Placeholder="Sélectionner une quantité" interface="action-sheet">
                                    <ion-select-option *ngFor="let quantity of quantitySelected;" [value]="quantity">{{ quantity }}</ion-select-option>
                                </ion-select>
                            </ion-row>
                            </div>
                        </ion-col>
                        <ion-col size="5" class="ion-align-self-right">
                            <div class="col-container">
                                <h3>{{ item.netPrice }}€</h3>
                                <p>{{ item.price }}€/{{item.unit}}</p>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-item>
    </ion-list>
    <div class="container ion-float-right">
    </div>
</ion-content>
<ion-footer class="ion-no-border">
        <ion-grid class="footer-grid">
            <ion-row class="row-container">
                <ion-col class="ion-align-self-left">
                    <div class="total-container">
                        <h2 *ngIf="panier">Total : {{ panier.totalPrice }}€</h2>
                        <ion-button class="valider-button">Valider</ion-button>
                    </div>
                </ion-col>
                <ion-col class="ion-align-self-right">
                    <div class="site-container">
                        <h2>Point Relais</h2>
                        <p>La maison du Poulet</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-footer>

