ion-content {
    --background: url(../../assets/images/BT_Panier.png) no-repeat center/cover fixed;
}

.title {
    color: white;
    font-family:'Savoye LET';
}



.panier-list {
    border-color : transparent !important;
    background: transparent !important;
    padding : 10px;
    margin-bottom:15px;

    .panier-item {
        --background: inherit;
        color : white;
    }
}

.price {
    padding: 10px;
    color: white;
    text-align: center;
}

.valider-button {
    --background: #fe881c;
    width: 150px;
}

ion-footer {
    height: 30%;
    background: url(../../assets/images/BT_Total.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.total-container {
    margin-top: 50px;
    margin-left: 10px;
}


.footer-grid {
    height:100%;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.total-container {
    text-align : center;
}

.site-container {
    text-align: center;
}

