<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
    <ion-list class="panier-list">
        <ion-item class="panier-item">
            <table>
                <tr>
                    <td><ion-label>Nom : </ion-label></td>
                    <td><ion-label>3 X </ion-label></td>
                    <td><ion-label> 5€ = </ion-label></td>
                    <td><ion-label> 15€</ion-label></td>
                </tr>
            </table>
        </ion-item>
    </ion-list>
    <div class="container ion-float-right">
        <ion-label class="price">Prix Total</ion-label>
        <br />
        
    </div>
</ion-content>
<ion-footer class="ion-no-border">
        <ion-grid class="footer-grid">
            <ion-row class="row-container">
                <ion-col class="ion-align-self-left">
                    <div class="total-container">
                        <h2>Total : 50€</h2>
                        <ion-button class="valider-button">Valider</ion-button>
                    </div>
                </ion-col>
                <ion-col class="ion-align-self-end">
                    <div class="site-container">
                        <h3>Point Relais</h3>
                        <h5>La maison du Poulet</h5>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-footer>

