<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
    <ion-list class="panier-list">
        <ion-item class="panier-item">
            <ion-card class="card-container">
                <ion-grid class="card-grid">
                    <ion-row class="card-row">
                        <ion-col class="ion-align-self-left">
                            <div class="col-container">
                                <h3>Thon</h3>
                                <p>Quantité : 2</p>
                            </div>
                        </ion-col>
                        <ion-col class="ion-align-self-right">
                            <div class="col-container">
                                <h3>5€</h3>
                                <p>2.50/unité</p>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-item>
        <ion-item class="panier-item">
            <ion-card class="card-container">
                <ion-grid class="card-grid">
                    <ion-row class="card-row">
                        <ion-col class="ion-align-self-left">
                            <div class="col-container">
                                <h3>Thon</h3>
                                <p>Quantité : 2</p>
                            </div>
                        </ion-col>
                        <ion-col class="ion-align-self-right">
                            <div class="col-container">
                                <h3>5€</h3>
                                <p>2.50/unité</p>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-item>
    </ion-list>
    <div class="container ion-float-right">
        <ion-label class="price">Prix Total</ion-label>
        <br />
        
    </div>
</ion-content>
<ion-footer class="ion-no-border">
        <ion-grid class="footer-grid">
            <ion-row class="row-container">
                <ion-col class="ion-align-self-left">
                    <div class="total-container">
                        <h2>Total : 50€</h2>
                        <ion-button class="valider-button">Valider</ion-button>
                    </div>
                </ion-col>
                <ion-col class="ion-align-self-end">
                    <div class="site-container">
                        <h3>Point Relais</h3>
                        <h5>La maison du Poulet</h5>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-footer>

