<ion-header>
    <app-header></app-header>
    <!-- <ion-title>contact</ion-title> -->
</ion-header>

<ion-content>
  <!-- <img src="../../assets/Doflamingo_Den_Den_Mushi.jpg">  
  <ion-text>06 63 99 99 78</ion-text>
  <br/>
  <ion-text>lebateaudethibault@gmail.com</ion-text>
  <br/>
  <ion-text>www.facebook.com/lebateaudethibault</ion-text> -->
  <ion-card>
    <img class="logo" src="../../../assets/images/BT_Menu_logo.png">
    
  </ion-card>
  <div class="div-ion-text-information">
    <ion-text class="ion-text-title-information">Thibault Xxxx</ion-text>
    <br/>
    <br/>
    <ion-text class="ion-text-information">
      06 63 99 99 78
      <br/> lebateaudethibault@gmail.com
   
    </ion-text>
  </div>

</ion-content>
