  <p>
    Poissons
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-col_img">
              <img class="img" src="../../../assets/icon/bar-icone.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  class="ion-col_texte">
              <div class="nom"><b>Thon</b></div>
              <div class="quantite">quantite: 1</div>
              <div class="prix">2,50€/unité</div>
            </ion-col>
          </ion-row>    
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-col_img">
              <img class="img" src="../../../assets/icon/filet-bar-icone.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  class="ion-col_texte">
              <div class="nom"><b>Thon</b></div>
              <div class="quantite">quantite: 1</div>
              <div class="prix">2,50€/unité</div>
            </ion-col>
          </ion-row> 
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-col_img">
              <img class="img" src="../../../assets/poissons.JPG">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  class="ion-col_texte">
              <div class="nom"><b>Thon</b></div>
              <div class="quantite">quantite: 1</div>
              <div class="prix">2,50€/unité</div>
            </ion-col>
          </ion-row>    
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-col_img">
              <img class="img" src="../../../assets/poissons.JPG">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  class="ion-col_texte">
              <div class="nom"><b>Thon</b></div>
              <div class="quantite">quantite: 1</div>
              <div class="prix">2,50€/unité</div>
            </ion-col>
          </ion-row> 
        </ion-grid>
      </ion-col>
    </ion-row>  
  </ion-grid>