
  <p>
    Poissons
  </p>
  <div class="container">
    <div class="card">        
      <img src="../../../assets/poissons.JPG">
      <div class="nom"><b>Thon</b></div>
      <div class="quantite">quantite: 1</div>
      <div class="prix">prix: 2,50€/unité</div>
    </div>
    <div class="card">        
      <img src="../../../assets/poissons.JPG">
      <div class="nom"><b>Thon</b></div>
      <div class="quantite">quantite: 1</div>
      <div class="prix">prix: 2,50€/unité</div>
    </div>
  </div>
  <div class="container">
    <div class="card">        
      <img src="../../../assets/poissons.JPG">
      <div class="nom"><b>Thon</b></div>
      <div class="quantite">quantite: 1</div>
      <div class="prix">prix: 2,50€/unité</div>
    </div>
    <div class="card">        
      <img src="../../../assets/poissons.JPG">
      <div class="nom"><b>Thon</b></div>
      <div class="quantite">quantite: 1</div>
      <div class="prix">prix: 2,50€/unité</div>
    </div>
  </div>

