<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <br/>
<ion-title>
  {{category}}
</ion-title>
<br/>
<ion-list>
  <ion-item>
    <ion-select Placeholder= "Sélectionner une valeur" (change)='sortChange(sortSelect.value)'
    #sortSelect [ngModel]="sortSelect.value">
      <div *ngFor="let information of informations;index as indexProduit">
      <ion-select-option *ngIf="information.categorie === category" [value]="information">{{information.name}}</ion-select-option>
      </div>
    </ion-select>
    {{sortSelect.value}}
  </ion-item>
</ion-list>
<br/>
<ion-card *ngIf="information">
  <img src="../../../assets/images/{{ information.image }}">
  <div class="div-ion-text-information">
    <ion-text class="ion-text-title-information">{{ information.name }}</ion-text>
    <br/>
    <br/>
    <ion-text class="ion-text-information">
        {{ information.description }}
    </ion-text>
  </div>
</ion-card>
</ion-content>
