<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <app-restaurants *ngIf="category==='Restaurants'"></app-restaurants>
  <app-recettes *ngIf="category==='Recettes'"></app-recettes>
  <app-bateaux *ngIf="category==='Bateaux'"></app-bateaux>

    <ion-card>
        <img src="../../../assets/images/Brise.jpg">
        <ion-card-header>
            <ion-card-title>Card</ion-card-title>
        </ion-card-header>
        <ion-card-content>lorem ipsum</ion-card-content>
    </ion-card>
</ion-content>
