<ion-header>
  <app-header></app-header>
    <ion-title>information</ion-title>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select One">
        <ion-select-option value="bateau">Bateau</ion-select-option>
        <ion-select-option value="restaurant">Restaurant</ion-select-option>
        <ion-select-option value="recette">Recette</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-title>titre de l'information</ion-title>
  <img src="../../../assets/Doflamingo_Den_Den_Mushi.jpg">
  <br/>
  <ion-text>texte de l'information</ion-text>
</ion-content>
