<ion-menu side="start" menuId="first" contentId="main">
    <ion-content class="background">
        <div class="img-container"><img src="../../assets/images/BT_Menu_logo.png" />
        </div>
        <div class="list-container">
            <ion-list class="menu-list">
                <ion-list-header class="list-title">Produits & Promotions</ion-list-header>
                <ion-item class="menu-item" [routerLink]=" ['/home']">Accueil</ion-item>
                <ion-item class="menu-item" [routerLink]="['/produit']">Produits & Promotions</ion-item>
                <ion-item class="menu-item" [routerLink]="['/information', 'Restaurants']">Restaurants</ion-item>
                <ion-item class="menu-item" [routerLink]="['/information', 'Recettes']">Recette</ion-item>
                <ion-item class="menu-item" [routerLink]="['/information', 'Bateaux']">Bateaux</ion-item>
                <ion-item class="menu-item" [routerLink]="['/contact']">Contact</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-menu>
