.logo {
    text-align:center;
}

.img-container {
    text-align:center;
}

.list-container {
    position :relative;
}

.menu-list {
    position: absolute;
    border-color: transparent !important;
    background: transparent !important;

    .list-title {
        color:white;
        font-style:italic;
        margin-bottom:10px;
    }
    
    .menu-item {
        --background: inherit;
        border-color: transparent !important;
        color: white;
    }
}

.background {
--background:url(../../../assets/images/BT_Menu.png) no-repeat center/cover fixed;
}

ion-icon{
    margin-right: 10px;
}

.img-bateau{
    width: 20px;
    margin-right: 8%;
}

.logo-facebook {
    bottom: 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .img-bateau{
        width: 20px;
        margin-right: 8%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .img-bateau{
        width: 20px;
        margin-right: 8%;
    }
 }