.logo {
    text-align:center;
}

.img-container {
    text-align:center;
}

.list-container {
    position :relative;
}

.menu-list {
    position: absolute;
    border-color: transparent !important;
    background: transparent !important;

    .list-title {
        color:white;
        font-style:italic;
        margin-bottom:10px;
    }
    
    .menu-item {
        --background: inherit;
        border-color: transparent !important;
        color: white;
    }
}

.background {
--background:url(../../../assets/images/BT_Menu.png) no-repeat center/cover fixed;
}
