.logo {
    text-align:center;
}

.img-container {
    text-align:center;
}

.img_menu{
    width: 50%;
}

.list-container {
    position :relative;
}

.menu-list {
    position: absolute;
    width:100%;
    border-color: transparent !important;
    background: transparent !important;

    .link-container {
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .menu-item {
        --background: inherit;
        border-color: transparent !important;
        color: white;
        font-size: 20px;
    }
}

.background {
    --background:url(../../../assets/images/BT_Menu.png) no-repeat center/cover fixed;
}

ion-icon{
    margin-right: 10px;
    color : white;
}

.img-bateau{
    width: 20px;
    margin-right: 8%;
}

.media-container {
    text-align: end;
    margin-top: 5%;
    font-size: 30px;

    .fb-button {
        background-color: transparent !important;
        font-size: 30px;
    }
}


// Small devices (landscape phones, 375px and up)
@media (min-width: 375px) { 
    .img_menu{
        width: 60%;
    }  
}

@media (min-height: 812px) { 
    .img_menu{
        width: 70%;
    }  
}