<ion-content>
    <p>
        Promotions
    </p>
    <br>
    <div class="container">
        <div class="card">
            <img src="../../../assets/poissons.JPG">
            <div class="nom"><b>Thon</b></div>
            <div class="quantite">quantite: 1</div>
            <div class="prix">2,50€/unité</div>
            <div class="prix_promotions">2,50€/unité</div>
        </div>
        <div class="card">
            <img src="../../../assets/poissons.JPG">
            <div class="nom"><b>Thon</b></div>
            <div class="quantite">quantite: 1</div>
            <div class="prix">2,50€/unité</div>
            <div class="prix_promotions">2,50€/unité</div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card">
            <img src="../../../assets/poissons.JPG">
            <div class="nom"><b>Thon</b></div>
            <div class="quantite">quantite: 1</div>
            <div class="prix">2,50€/unité</div>
            <div class="prix_promotions">2,50€/unité</div>
        </div>
        <div class="card">
            <img src="../../../assets/poissons.JPG">
            <div class="nom"><b>Thon</b></div>
            <div class="quantite">quantite: 1</div>
            <div class="prix">2,50€/unité</div>
            <div class="prix_promotions">2,50€/unité</div>
        </div>
    </div>
    <br>
</ion-content> 