ion-content {
    --background: url(../../../assets/images/BT_Categorie.png) no-repeat center/cover fixed;
}

.title-container {
    width : 100%;
    color:white;
    margin : 20px;
    font-style:italic;
    font-size:20px;
    text-align:center;

    .title {
        align-self:start;
    }
}

.image-bg {
    border-radius: 30px !important;
}

ion-footer {
    height: 20%;
    background: url(../../../assets/images/BT_Categorie-FT.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
