<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
    <ion-grid>
        <ion-row>
            <ion-col class="title-container">
                <p>Fruits de mer et poissons frais au rendez-vous</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-align-self-left">
                <img class="image-bg" src="../../../assets/images/bg-bt-poisson.png" [routerLink]="['/categorie-produit', 0]" />
            </ion-col>
            <ion-col class="ion-align-self-right">
                <img class="image-bg" src="../../../assets/images/bg-bt-crustace.png" [routerLink]="['/categorie-produit', 1]">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-align-self-left">
                <img class="image-bg" src="../../../assets/images/bg-bt-coquillage.png" [routerLink]="['/categorie-produit', 2]">
            </ion-col>
            <ion-col class="ion-align-self-right">
                <img class="image-bg" src="../../../assets/images/bg-bt-promo.png" [routerLink]="['/categorie-produit', 'Promotions']">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>

