<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
    <ion-row>
        <div class="title-container">
            <ion-title>Produits & Promotions</ion-title>
        </div>
    </ion-row>
    <ion-col offset-4 class="produit-col">
        <div>
            <a class="produit-button" [routerLink]="['/categorie-produit', 'Poissons']" small><img class="image-bg" src="../../../assets/images/bg-bt-poisson.png"/></a>
            <ion-button class="produit-button" [routerLink]="['/categorie-produit', 'Crustacés']"><img class="image-bg" src="../../../assets/images/bg-bt-crustace.png"></ion-button>
        </div>
        <div>
            <ion-button color="clear" class="produit-button" [routerLink]="['/categorie-produit', 'Coquillages']"><img class="image-bg" src="../../../assets/images/bg-bt-coquillage.png"></ion-button>
            <ion-button class="produit-button" [routerLink]="['/categorie-produit', 'Promotions']"><img class="image-bg" src="../../../assets/images/bg-bt-promo.png"></ion-button>
        </div>
    </ion-col>
</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>

